*{
    font-family: 'Cabin', sans-serif;
font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1172px!important;
    padding: 0!important;
}

.mb_100{
margin-bottom: 100px;
}

.fs_12{
    font-size: 12px;
}

.fs_14{
    font-size: 14px;
}



