*{
    font-family: 'Cabin', sans-serif;
font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1172px!important;
    padding: 0!important;
}

.mb_100{
margin-bottom: 100px;
}

.mb_150{
margin-bottom: 150px;
}

.ms_150{
    margin-left: 200px;
}

.pb_100{
padding-bottom: 100px;
}



.mb_50{
  margin-bottom: 50px;  
}

.fs_12{
    font-size: 12px;
}

.fs_14{
    font-size: 14px;
}



