*{
    font-family: 'Cabin', sans-serif;
font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1170px!important;
    padding: 0!important;
}

.mb_100{
margin-bottom: 100px;
}

.mb_150{
margin-bottom: 150px;
}

.ms_150{
margin-left: 200px;
}

.mb_50{
    margin-bottom: 50px;  
}

.mb_70{
    margin-bottom: 70px;
}

.pb_100{
padding-bottom: 100px;
}

.p_70{
    margin: 70px 0;
}

.fs_12{
    font-size: 12px;
}

.fs_14{
    font-size: 14px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 7px solid #ecc5ab;
}

.btn{
    transition: background .5s!important;
    &:hover{
        background: #513E5E!important;
    }
}

#startNow{
    transition: all .5s!important;
    &:hover{
        color: #0088cc!important;
    background-color: #f8f8f8!important;
    }
}



